.color-card {
  margin: 0px 10px;
  padding: 10px;
  border-radius: 20px;
}

.color-card .form-container {
    max-width: 250px;
    padding: 10px;
    gap: 0;
}

.color-card-headline {
  display: inline;
  padding: 4px 10px;
  background: var(--primary-color);
  color: var(--main-color);
  border-radius: 20px;
  font-size: 1.1rem;
}

.color-card-highlight {
  display: inline;
  padding: 2px 6px;
  background: var(--primary-color);
  color: var(--main-color);
  border-radius: 5px;
}

.color-card-role {
  font-weight: 600;
}

p {
  margin-left: 5px;
  padding: 0;
}
