.form-container {
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
    padding: 5px 0 10px 0;
}

input {
    max-width: 170px;
}

button {
    max-width: 140px;
    margin-top: 5px;
    background-color: #ffff;
    color: #000000;
    font-size: 10px;
    cursor: pointer;
}

button:hover {
    background-color:lightgray;
}