:root {
  --bg-color: #f8f9fa;
  --border-color: rgb(143, 143, 143);
  --main-color: #ffffff;
  --primary-color: #000000;
  --hover-color: rgb(62, 62, 62);
  --contrast-good-color: rgb(0, 206, 21);
  --contrast-warning-color: rgb(255, 111, 0);
  --contrast-bad-color: rgb(233, 15, 15);
}

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  padding: 10px;
  background-color: var(--bg-color);
}

.header {
  text-align: center;
  font-size: 38px;
}

.colors-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 10px;
}

.colors-container button {
  padding: 3px 6px;
  border-radius: 6px;
  background-color: var(--primary-color);
  color: var(--main-color);
  border-radius: 20px;
}

.colors-container button:hover {
  background: var(--hover-color);
}

.colors-container button.button-successfully:hover {
    background-color: var(--primary-color);
}

.no-colors__message {
  padding-top: 20px;
  text-align: center;
  font-weight: 600;
}

